<script src="/js/canvas.js"></script>
<link rel="stylesheet" href="/css/canvas.css">
<h3 class="whiteboard">Whiteboard</h3>
<canvas id="myCanvas" height="400px">
    Sorry, your browser does not support HTML5 canvas technology.
</canvas>
<button id="clear" class="btn btn-primary">Clear</button>
<button id="download" class="btn btn-primary">Download Board</button>
<form id="myForm" action="/course" method="post">
<input type="hidden" id="canvasImage" name="canvasImg" value="" />
<button id="submit" type="submit" style="display: none;"></button>
</form>
