<div class="sharing">
    <span>Share this course  </span><i class="fas fa-share-alt"></i>
    <a class="social-share facebook"><i class="fa fa-facebook"></i></a>
    <a class="social-share twitter"><i class="fa fa-twitter"></i></a>
    <a class="social-share email"><i class="fa fa-google"></i></a>
</div>
