<link rel="stylesheet" href="/css/latestCourses.css" />
<div class="row mb-2">
  <div class="col text-center">
    <h4>Your Courses</h4>
  </div>
</div>
<div class="row">
  <% teacherCourses.forEach((teacherCourse)=>{ %>
  <div class="col-sm-12 col-md-4 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-header">
        <%= teacherCourse.subjectName %>
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= teacherCourse.courseName %></h4>
        <p class="card-text"><%= teacherCourse.description %></p>
        <p class="card-text"><%= teacherCourse.totalTopics %></p>
        <a href="#" class="card-link">Go to Course </a>
      </div>
    </div>
  </div>
  <% }); %>
</div>
