<% include ./partials/messages %>
<h1 class="mt-4">Teacher Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %> Teacher</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<div>
  <h3>Courses</h3>
</div>
<a href="/createCourse" class="btn btn-primary">Create New Course +</a>
