#myCanvas {
  position: relative;
  cursor: crosshair;
  border: 3px solid #eb6864;
  width: 100%;
}

.whiteboard {
  margin-bottom: 0;
  font-family: "Pacifico", cursive;
  background: #191919;
  color: #ffffff;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
